.App {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  height: 1200px;
}
.form{
  text-align: center;
  border: 1px solid black;
  width: 30%;
  height: 350px;
  margin: auto;
  margin-bottom: 40px;
}
.display{
  text-align: center;
  /* border: 1px solid green; */
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.display > table{
  border: 1px solid black;
}
.display > table > tr > th , td{
  border: 1px solid black;
  width: 100px;
}
.display > table > tr > td > input{
  width: 100px;
}

.Heading{
  margin-top: 5px;
  margin-bottom: 10px;
}
.display{
  height: 500px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}